html {
  height: 100%;
  overflow: hidden;
}

@font-face {
    font-family: minecraft;
    src: url(minecraftia.woff);
}

@font-face {
    font-family: mojangles;
    src: url(mojangles.ttf);
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

canvas {
	height: 100%;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
}

#crosshair {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
	position: absolute;
	top: 50%;
	left: 50%;
	height: calc(256px * 4);
	width: calc(256px * 4);
	transform: translate(calc(-50% + 120px * 4), calc(-50% + 120px * 4));
	clip-path: inset(0px calc(240px * 4) calc(240px * 4) 0px);
}
